
body {
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: blue;
    background: #acabaa;
  }
  .container {
      margin: 20px;
  }

  header {
    background: lightgreen;
  }
  
  #fixed {
    position: fixed;
    top: 20;
    left: 10;
    right: 10;
  }
  
  h1 {
    padding: 20px;
    margin: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    color:black;
    text-align: left;
    text-decoration-style: bold;
  }
  
  h2 {
    margin-top: 120px;
    font-size: 24px;
    font-display: bold;
  }
  
  a {
    color: #d21034;
  }
  
  #main-bio,
  #bio-image {
    float: left;
  }
  #section {
    text-align: center
  }
  #contact-info {
    float: right;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
  }
  
  #bio-image {
    margin-top: 120px;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
  }
  